body {
  background: linear-gradient(
    -45deg,
    #e2db1f,
    #d5a856,
    #c8768c,
    #bb43c3,
    #ae10f9
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background-color: rgb(141, 243, 141);
  padding: 3em;
  margin-top: 2em;
  text-align: center;
}

form {
  border: 3px solid blue;
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-bottom: 1em;
}

input {
  margin: 1em;
}
.button-group {
  text-align: center;
}
.btn-active {
  background-color: #333;
  color: white;
}
.btn-active:hover {
  color: white;
}

.hidden {
  display: none;
}
